.landing-main {
  color: rgba(255, 255, 255, 0.7);
  border-radius: 5vmin;
  background-color: rgba(42, 51, 43, 0.9);;
  padding: 20px 20px;
  vertical-align: middle;
  margin: 2vmin;
  margin-top: 10vmin;
}

.hr-skinny {
  border-top: 1px solid black;
  margin-top: 0;
}

.hr-thick {
  border-top: 4px solid black;
}
