.artist {
  color: #FCFCFC;
  margin: 2vmin;
  border-radius: 1vmin;
  background-color: rgba(51, 42, 42, 0.8);
  border: 10px solid rgba(99, 99, 99, 0.1);
  padding: 20px 20px;
  margin-top: 10vmin;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}

.artist-bio {
}

.artist-bio > p {
  color: #FCFCFC;
  text-align: justify;
}

.profile {
  margin: 0vmin 4vmin;
}
