.artist {
  color: #FCFCFC;
  margin: 2vmin;
  border-radius: 1vmin;
  background-color: rgba(42, 51, 43, 0.9);
  border: 10px solid rgba(99, 99, 99, 0.1);
  padding: 20px 20px;
  margin-top: 10vmin;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}

.artist-bio {
}

.artist-bio > p {
  color: #FCFCFC;
  text-align: justify;
}

.artist-page {
  margin-bottom: 5vmin;
}

.profile {
  margin: 0vmin 4vmin;
}

.img-thumbnail {
  height: 100px;
  width: 100px;
}

.ghost {
  height: 2vmin;
}
