.appt-card {
  background-color: rgba(42, 51, 43, 0.9);
  margin: 2vmin;
  padding: 2vmin;
  display: flex;
  color: #FFFFFF;
}

.appt-card:hover {
  background-color: rgba(37, 46, 38, 0.9);
}

.left {
  text-align: left;
  margin-right: auto;
}

Link:hover {
  text-decoration: none;
  text-transform: none;
}
